
.message-box {
  float: right;
  width: 90%;
  height: 100%;
  padding-top: 1em;
  overflow-y: scroll;
}

.input-send {
  bottom: 0;
  width: 50%;
  padding-top: 1em;
  padding-left: 2em;
}

.creator {
  float: right;
}

.card-message {
  margin-bottom: 0.5em;
  width: 25%;
  border: solid 1px black;
}

.card-message-right {
  float: right;
}

.card-message-left {
  float: left;
}
